#**Pandas I/O: trabalhando com diferentes formatos de arquivos ðŸ¼**


> *Neste curso de Data Science com Pandas, aprendem-se tÃ©cnicas de entrada e saÃ­da de dados em diferentes formatos, como CSV, XLSX, JSON, HTML e XML, alÃ©m de ler informaÃ§Ãµes do Google Planilhas, extrair tabelas de pÃ¡ginas web, criar e escrever em bancos de dados locais e realizar consultas SQL para manipular e analisar os dados de forma integrada.*


---

## Load libs â¬

In [93]:
import pandas as pd

In [94]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect

## Environment Confgs ðŸŒ³

In [95]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data.csv'

In [96]:
url_2 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data_ponto_virgula.csv'

In [97]:
url_3 = 'https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx?raw=True'

In [98]:
engine = create_engine('sqlite:///:memory:')

In [99]:
url_4 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'

---


## 01 - Fazendo leitura de arquivos CSV ðŸ“–




> Na primeira aula houve a extraÃ§Ã£o dos dados a partir da funÃ§Ã£o read_csv e a leitura com head(). Na segunda aula, foi o exemplo de como ler caso o separador fosse outro, com sep, e outros parametros que podem ser utilizados com read como; nrows, usecols. Na terceira aula, fomos instruidos como salvar um arquivo csv, com to_csv e o parametro index=False.

#### Exemplo 1


*   Lendo dados ðŸŽ²

In [100]:
dados_mercado = pd.read_csv(url)

In [101]:
dados_mercado.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [102]:
dados_ponto_virgula = pd.read_csv(url_2, sep = ';')

In [103]:
dados_ponto_virgula.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

#### Exemplo 2


*   Outros parametros pra read ðŸ”¡

In [104]:
dados_primeiras_linhas = pd.read_csv(url,nrows=5)

In [105]:
dados_primeiras_linhas

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [106]:
dados_selecao = pd.read_csv(url, usecols=['Id', 'Year_Birth', 'Income']) #ou usecols=[0,1,4]

In [107]:
dados_selecao

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

#### Exemplo 3


*   Salvando dados ðŸ’¾

In [108]:
dados_selecao.to_csv('dados_mercado.csv', index=False)

In [109]:
pd.read_csv('/content/dados_mercado.csv')

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

---


## 02 - Utilizando planilhas ðŸ“‹




> Na primeira aula utilizamos uma nova url, com um arquivo excel (xlsx) desta vez, e aprendemos como importar e ler este tipo de arquivo com ?raw=True, read_excel, ExcelFile e sheet_names. Na segunda aula vimos como utilizar outros parametros de read_excel para este tipo de arquivo. Na terceira aula vimos como salvar um DataFrame em formato xlsx com to_excel. Na quarta aula vimos como extrair uma planilha do google sheets, localizando o id e transformando a planilha em csv.

#### Exemplo 1


*   Lendo dados excel ðŸŽ²

In [110]:
dados_co2 = pd.read_excel(url_3)

In [111]:
dados_co2.head()

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,OlÃ©o,GÃ¡s,Cimento,Queima,Outro,Per Capita
0,AfeganistÃ£o,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfeganistÃ£o,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfeganistÃ£o,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfeganistÃ£o,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfeganistÃ£o,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
pd.ExcelFile(url_3).sheet_names

['emissoes_C02', 'emissoes_percapita', 'fontes']

#### Exemplo 2


*   Parametros para read ðŸ”¡

In [113]:
percapita = pd.read_excel(url_3, sheet_name='emissoes_percapita')

In [114]:
percapita.head()

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,Ã“leo,GÃ¡s,Cimento,Queima,Outro
0,AfeganistÃ£o,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfeganistÃ£o,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfeganistÃ£o,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfeganistÃ£o,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfeganistÃ£o,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
fontes = pd.read_excel(url_3, sheet_name='fontes')

In [116]:
fontes.head()

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,OlÃ©o,GÃ¡s,Cimento,Queima,Outro,Per Capita
0,AfeganistÃ£o,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,AfeganistÃ£o,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,AfeganistÃ£o,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,AfeganistÃ£o,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,AfeganistÃ£o,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

In [117]:
intervalo = pd.read_excel(url_3, sheet_name='emissoes_C02', usecols= 'A:D')

In [118]:
intervalo

              PaÃ­s ISO 3166-1 alpha-3   Ano         Total
0      AfeganistÃ£o                AFG  1750  0.000000e+00
1      AfeganistÃ£o                AFG  1751  0.000000e+00
2      AfeganistÃ£o                AFG  1752  0.000000e+00
3      AfeganistÃ£o                AFG  1753  0.000000e+00
4      AfeganistÃ£o                AFG  1754  0.000000e+00
...            ...                ...   ...           ...
63099       Global                WLD  2017  3.609674e+10
63100       Global                WLD  2018  3.682651e+10
63101       Global                WLD  2019  3.708256e+10
63102       Global                WLD  2020  3.526409e+10
63103       Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

#### Exemplo 3


*   Salvando DataFrames em xlsx â¬‡ï¸

In [119]:
percapita.to_excel('co2_percapita.xlsx', index=False)

In [120]:
pd.read_excel('/content/co2_percapita.xlsx')

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,Ã“leo,GÃ¡s,Cimento,Queima,Outro
0,AfeganistÃ£o,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfeganistÃ£o,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfeganistÃ£o,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfeganistÃ£o,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfeganistÃ£o,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,4749682.0,1908857.0,1610910.0,940144.0,198416.0,51579.0,39776.0
63100,Global,WLD,2018,4792753.0,1919213.0,1596350.0,979965.0,204225.0,53634.0,39366.0
63101,Global,WLD,2019,4775633.0,1896468.0,1589920.0,984878.0,208309.0,56569.0,39490.0
63102,Global,WLD,2020,4497423.0,1807760.0,1427353.0,963695.0,208844.0,51981.0,37789.0
63103,Global,WLD,2021,4693699.0,1893923.0,1496614.0,1001585.0,211472.0,52663.0,37443.0

#### Exemplo 4


*   Salvando DataFrames em xlsx â¬‡ï¸

In [121]:
'''https://docs.google.com/spreadsheets/d/1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog/edit?usp=sharing
apÃ³s o "/d/" atÃ© a prÃ³xima barra, estÃ¡ contido o id da planilha.'''

sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'

In [122]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [123]:
dados_co2_sheets = pd.read_csv(url)

In [124]:
dados_co2_sheets.head()

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,OlÃ©o,GÃ¡s,Cimento,Queima,Outro,Per Capita
0,AfeganistÃ£o,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfeganistÃ£o,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfeganistÃ£o,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfeganistÃ£o,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfeganistÃ£o,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
#lendo uma pÃ¡gina especifica

sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'emissoes_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [126]:
percapita_sheets = pd.read_csv(url_percapita)
percapita_sheets.head()

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,Ã“leo,GÃ¡s,Cimento,Queima,Outro
0,AfeganistÃ£o,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfeganistÃ£o,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfeganistÃ£o,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfeganistÃ£o,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfeganistÃ£o,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'fontes'
url_fontes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [128]:
fontes_sheets = pd.read_csv(url_fontes)
fontes_sheets.head()

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,OlÃ©o,GÃ¡s,Cimento,Queima,Outro,Per Capita
0,AfeganistÃ£o,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,AfeganistÃ£o,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,AfeganistÃ£o,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,AfeganistÃ£o,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,AfeganistÃ£o,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

---


## 03 - Manipulando arquivos JSON ðŸ“




> Na primeira aula fizemos o upload de um arquivo em formato json diretamente para o notebook e utilizamos seu caminho com read_json para lÃª-lo. Na segunda aula vimos como tratar arquivos com dados aninhados, utilizando json_normalize para uma das colunas erroneas. Por fim, vimos como salvar o DataFrame em formato json.

#### Exemplo 1


*   Importando dados ðŸŽ²

In [129]:
dados_pacientes = pd.read_json('/content/pacientes.json')
dados_pacientes

,ID_paciente,Doenca_cardiaca,IMC,Fumante,Consumo_alcool,AVC,Saude_fisica,Saude_mental,Dificuldade_caminhar,Sexo_biologico,Faixa_etaria,Raca,Diabetes,Atividade_fisica,Saude_geral,Horas_sono,Asma,Doenca_renal,Cancer_pele
0,0,Nao,16.60,Sim,Nao,Nao,3,30,Nao,Feminino,55-59,Branca,Sim,Sim,Muito boa,5,Sim,Nao,Sim
1,1,Nao,20.34,Nao,Nao,Sim,0,0,Nao,Feminino,80 ou +,Branca,Nao,Sim,Muito boa,7,Nao,Nao,Nao
2,2,Nao,26.58,Sim,Nao,Nao,20,30,Nao,Masculino,65-69,Branca,Sim,Sim,Razoavel,8,Sim,Nao,Nao
3,3,Nao,24.21,Nao,Nao,Nao,0,0,Nao,Feminino,75-79,Branca,Nao,No,Boa,6,Nao,Nao,Sim
4,4,Nao,23.71,Nao,Nao,Nao,28,0,Sim,Feminino,40-44,Branca,Nao,Sim,Muito boa,8,Nao,Nao,Nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Nao,28.29,Sim,Nao,Nao,10,20,Nao,Feminino,65-69,Preta,Sim,Sim,Razoavel,8,Nao,Nao,Nao
996,996,Nao,25.69,Sim,Nao,Nao,0,0,Nao,Feminino,75-79,Branca,Nao,Sim,Excelente,8,Nao,Nao,Nao
997,997,Sim,26.99,Nao,Nao,Nao,1,0,Nao,Masculino,70-74,Branca,Nao,Sim,Muito boa,8,Nao,Nao,Nao
998,998,Nao,44.29,Nao,Nao,Nao,30,0,Sim,Feminino,70-74,Branca,Sim,No,Boa,6,Sim,Nao,Nao
999,999,Nao,25.83,Nao,Nao,Nao,0,0,Nao,Masculino,70-74,Preta,Sim,No,Excelente,7,Nao,Nao,Nao

#### Exemplo 2


*   Dados aninhados ðŸª†

In [130]:
dados_pacientes_2 = pd.read_json('/content/pacientes_2.json')

In [131]:
df_normalizado = pd.json_normalize(dados_pacientes_2['Pacientes'])
df_normalizado

,ID,Faixa_etaria,Sexo_biologico,RaÃ§a,IMC,Fumante,Consumo_alcool,Saude_fisica,Saude_mental,Dificuldade_caminhar,Atividade_fisica,Saude_geral,Horas_sono,Problemas_saude
0,01,55-59,Feminino,Branca,16.60,Sim,Nao,3,30,Nao,Sim,Muito boa,5,"[Diabetes, Asma, Cancer_pele]"
1,02,80 ou +,Feminino,Branca,20.34,Nao,Nao,0,0,Nao,Sim,Muito boa,7,[AVC]
2,03,65-69,Masculino,Branca,26.58,Sim,Nao,20,30,Nao,Sim,Muito boa,8,"[diabetes, Asma]"

#### Exemplo 3


*   Salvando o arquivo em formato json ðŸ’¾

In [132]:
df_normalizado.to_json('historico_pacientes_normalizado.json')
pd.read_json('/content/historico_pacientes_normalizado.json')

,ID,Faixa_etaria,Sexo_biologico,RaÃ§a,IMC,Fumante,Consumo_alcool,Saude_fisica,Saude_mental,Dificuldade_caminhar,Atividade_fisica,Saude_geral,Horas_sono,Problemas_saude
0,1,55-59,Feminino,Branca,16.60,Sim,Nao,3,30,Nao,Sim,Muito boa,5,"[Diabetes, Asma, Cancer_pele]"
1,2,80 ou +,Feminino,Branca,20.34,Nao,Nao,0,0,Nao,Sim,Muito boa,7,[AVC]
2,3,65-69,Masculino,Branca,26.58,Sim,Nao,20,30,Nao,Sim,Muito boa,8,"[diabetes, Asma]"

---


## 04 - Lendo dados em HTML e XML ðŸŒ





> Na primeira aula aprendemos como ler um arquivo html, em seguida como obter um DataFrame com os dados contidos neste. Na segunda aula aprendemos a salvar os arquivos em html para uma vizualizaÃ§Ã£o mais acessivel no navegador. Por fim, aprendemos a ler e salvar arquivos no formato xml.

#### Exemplo 1


*   Lendo dados de um html ðŸ“–

In [133]:
dados_html = pd.read_html('/content/filmes_wikipedia.html')
dados_html

[       0                      1
 0   1998             100 Movies
 1   1999              100 Stars
 2   2000             100 Laughs
 3   2001            100 Thrills
 4   2002           100 Passions
 5   2003  100 Heroes & Villains
 6   2004              100 Songs
 7   2005       100 Movie Quotes
 8   2005              25 Scores
 9   2006             100 Cheers
 10  2006            25 Musicals
 11  2007   100 Movies (Updated)
 12  2008        AFI's 10 Top 10
 13   vte                    vte,
                       Film  Release year              Director  \
 0             Citizen Kane          1941          Orson Welles
 1               Casablanca          1942        Michael Curtiz
 2            The Godfather          1972  Francis Ford Coppola
 3       Gone with the Wind          1939        Victor Fleming
 4       Lawrence of Arabia          1962            David Lean
 ..                     ...           ...                   ...
 118        Sophie's Choice          1982        Alan J. Pakula
 119  The Last Picture Show          1971     Peter Bogdanovich
 120     Do the Right Thing          1989             Spike Lee
 121           Blade Runner          1982          Ridley Scott
 122              Toy Story          1995         John Lasseter

                               Production companies 1998 Rank 2007 Rank
 0                               RKO Radio Pictures         1         1
 1                            Warner Bros. Pictures         2         3
 2           Paramount Pictures, Alfran Productions         3         2
 3                  Selznick International Pictures         4         6
 4                                 Horizon Pictures         5         7
 ..                                             ...       ...       ...
 118                              ITC Entertainment         -        91
 119                                BBS Productions         -        95
 120                  40 Acres and a Mule Filmworks         -        96
 121                The Ladd Company, Shaw Brothers         -        97
 122  Walt Disney Pictures, Pixar Animation Studios         -        99

 [123 rows x 6 columns]]

In [134]:
top_filmes = dados_html[1]
top_filmes

,Film,Release year,Director,Production companies,1998 Rank,2007 Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2,3
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3,2
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4,6
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5,7
...,...,...,...,...,...,...
118,Sophie's Choice,1982,Alan J. Pakula,ITC Entertainment,-,91
119,The Last Picture Show,1971,Peter Bogdanovich,BBS Productions,-,95
120,Do the Right Thing,1989,Spike Lee,40 Acres and a Mule Filmworks,-,96
121,Blade Runner,1982,Ridley Scott,"The Ladd Company, Shaw Brothers",-,97
122,Toy Story,1995,John Lasseter,"Walt Disney Pictures, Pixar Animation Studios",-,99

#### Exemplo 2


*   Salvando dados em html ðŸ’¾

In [135]:
top_filmes.to_html('top_filmes.html')

#### Exemplo 3


*   Arquivos em XLM ðŸ›œ

In [136]:
dados_imdb = pd.read_xml('/content/imdb_top_1000.xml')
dados_imdb.head(3)

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

In [137]:
#salvando
dados_imdb.to_xml('filmes_imdb.xml')

---


## 05 - Trabalhando com banco de dados ðŸŽ²





> Na primeira aula importamos a biblioteca sqlalchemy, junto a algumas funÃ§Ãµes desta biblioteca, e criamos o "motor" do banco de dados manualmente. Na segunda aula vimos como escrever dentro do nosso banco de dados, importando dados csv e utilizando to_sql para salvar uma dada tabela em nosso banco. Na terceira aula, aprendemos como fazer uma consulta(query) em SQL(SELECT FROM WHERE) e como ler esta com read_sql, salvar essa tabela da consulta e ler esta tabela com read_sql_table. Na quarta aula, aprendemos como alterar dados que estavam no banco, usando DELETE, UPDATE, SET, juntamente com mÃ©todo with.

#### Exemplo 1


*   Escrevendo no banco de dados âœï¸

In [138]:
dados = pd.read_csv(url_4)
dados.head()

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino mÃ©dio,Casado,2,Empregado,SeguranÃ§a,3,112500.0,1,Casa/apartamento prÃ³prio
3,5008808,52,Ensino mÃ©dio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio
4,5008809,52,Ensino mÃ©dio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio

In [139]:
dados.to_sql('clientes', engine, index=False)

438463

In [140]:
inspector = inspect(engine)
print(inspector.get_table_names())

['clientes']

#### Exemplo 2


*   Consultando e lendo sql ðŸ”

In [141]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renda="Empregado"'

In [142]:
empregados = pd.read_sql(query, engine)
empregados

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino mÃ©dio,Casado,2,Empregado,SeguranÃ§a,3,112500.0,1,Casa/apartamento prÃ³prio
3,5008815,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento prÃ³prio
4,5112956,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento prÃ³prio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Ensino mÃ©dio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento prÃ³prio
226055,6837906,43,Ensino mÃ©dio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento prÃ³prio
226056,6839936,34,Ensino mÃ©dio,Casado,3,Empregado,ConstruÃ§Ã£o Civil,5,135000.0,1,Casa/apartamento prÃ³prio
226057,6840222,43,Ensino mÃ©dio,Solteiro,1,Empregado,ConstruÃ§Ã£o Civil,8,103500.0,0,Casa/apartamento prÃ³prio
226058,6842885,51,Ensino mÃ©dio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento prÃ³prio

In [143]:
#salvando
empregados.to_sql('empregados', con=engine, index=False)

226059

In [144]:
#o read_sql permite ler uma consulta e o read_sql_table uma tabela completa.
pd.read_sql_table('empregados', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino mÃ©dio,Casado,2,Empregado,SeguranÃ§a,3,112500.0,1,Casa/apartamento prÃ³prio
3,5008815,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento prÃ³prio
4,5112956,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento prÃ³prio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Ensino mÃ©dio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento prÃ³prio
226055,6837906,43,Ensino mÃ©dio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento prÃ³prio
226056,6839936,34,Ensino mÃ©dio,Casado,3,Empregado,ConstruÃ§Ã£o Civil,5,135000.0,1,Casa/apartamento prÃ³prio
226057,6840222,43,Ensino mÃ©dio,Solteiro,1,Empregado,ConstruÃ§Ã£o Civil,8,103500.0,0,Casa/apartamento prÃ³prio
226058,6842885,51,Ensino mÃ©dio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento prÃ³prio

#### Exemplo 3


*   Alterando informaÃ§Ãµes ðŸ“

In [145]:
query = 'SELECT * FROM clientes'

In [146]:
pd.read_sql(query, engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino mÃ©dio,Casado,2,Empregado,SeguranÃ§a,3,112500.0,1,Casa/apartamento prÃ³prio
3,5008808,52,Ensino mÃ©dio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio
4,5008809,52,Ensino mÃ©dio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Ensino mÃ©dio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento prÃ³prio
438459,6840222,43,Ensino mÃ©dio,Solteiro,1,Empregado,ConstruÃ§Ã£o Civil,8,103500.0,0,Casa/apartamento prÃ³prio
438460,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438461,6842765,59,Ensino mÃ©dio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento prÃ³prio
438462,6842885,51,Ensino mÃ©dio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento prÃ³prio

In [160]:
query = 'DELETE FROM clientes WHERE ID_Cliente=5008804'
with engine.connect() as conn:
    conn.execute(sqlalchemy.text(query))
    conn.commit()

In [155]:
pd.read_sql_table('clientes', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008805,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008806,58,Ensino mÃ©dio,Casado,2,Empregado,SeguranÃ§a,3,112500.0,1,Casa/apartamento prÃ³prio
2,5008808,52,Ensino mÃ©dio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio
3,5008809,52,Ensino mÃ©dio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio
4,5008810,52,Ensino mÃ©dio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio
...,...,...,...,...,...,...,...,...,...,...,...
438457,6840104,62,Ensino mÃ©dio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento prÃ³prio
438458,6840222,43,Ensino mÃ©dio,Solteiro,1,Empregado,ConstruÃ§Ã£o Civil,8,103500.0,0,Casa/apartamento prÃ³prio
438459,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438460,6842765,59,Ensino mÃ©dio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento prÃ³prio
438461,6842885,51,Ensino mÃ©dio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento prÃ³prio

In [158]:
query = 'UPDATE clientes SET Grau_escolaridade="Ensino superior" WHERE ID_Cliente=5008808'
with engine.connect() as conn:
    conn.execute(sqlalchemy.text(query))
    conn.commit()

In [159]:
pd.read_sql_table('clientes', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008805,32,Ensino superior,UniÃ£o-estÃ¡vel,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008806,58,Ensino mÃ©dio,Casado,2,Empregado,SeguranÃ§a,3,112500.0,1,Casa/apartamento prÃ³prio
2,5008808,52,Ensino superior,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio
3,5008809,52,Ensino mÃ©dio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio
4,5008810,52,Ensino mÃ©dio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento prÃ³prio
...,...,...,...,...,...,...,...,...,...,...,...
438457,6840104,62,Ensino mÃ©dio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento prÃ³prio
438458,6840222,43,Ensino mÃ©dio,Solteiro,1,Empregado,ConstruÃ§Ã£o Civil,8,103500.0,0,Casa/apartamento prÃ³prio
438459,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438460,6842765,59,Ensino mÃ©dio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento prÃ³prio
438461,6842885,51,Ensino mÃ©dio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento prÃ³prio